.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
#mapId {
  width: 100%;
  height: 100%;
  // border: 1px solid #ccc;
  margin-bottom: 10px;
}
// .approot {
//   width: 300px;
//   margin: auto;
//   position: relative;
// }

// .scroll-content {
//   overflow-y:auto;
// }

// .leaflet-marker-pane > img {

// }

