<div class="wkJobList">

  <h3 ng-show="model.title">{{model.title}}</h3>

  <div ng-if="model.error">
    <h2>{{model.errorMessage}}</h2>
  </div>

  <div class="wkJobListJobs" ng-if="!model.error">

    <span class="wkPoweredBy">powered by <a href="{{model.powered_url}}"
                                            target="{{model.powered_target}}">{{model.powered_title}}</a></span>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="job in model.jobs" data-ng-bind-html="format(job)"></li>
    </ul>
    <p ng-show="model.jobs === null">Fetching Jobs ...</p>
    <p ng-show="model.jobs.length === 0">Unfortunately there are no available job opportunities to show you right now,
      but if you set up a JobGetter profile with the jobs you want, you'll receive an alert as soon as a job matching
      your preferences becomes available. Simply go to <a href="http://www.jobgetter.com">www.jobgetter.com</a> to
      get started.</p>
  </div>

</div>


